<a href="https://colab.research.google.com/github/YBen1/Analyse_Flight_Data/blob/main/DayTradeTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

I try boild a prediction based on the beginning of the day

In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
import datetime
from datetime import timedelta

In [ ]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.70)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.8.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)

#ToDo: set end date for today and beginning date at end date - 730 days

In [ ]:
import yfinance as yf

# Set the start and end date
end_date = '2022-03-18'
start_date =  pd.to_datetime(end_date) - timedelta(days=729)

# Set the ticker
ticker = 'AMZN'

# Get the data
data = yf.download(ticker, start_date, end_date, interval = "1h")

# Print 5 rows
data.tail()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
2022-03-17 12:30:00-04:00,3102.815918,3116.090088,3095.425049,3115.000000,3115.000000,347032
2022-03-17 13:30:00-04:00,3116.000000,3143.000000,3106.989990,3125.770020,3125.770020,419986
2022-03-17 14:30:00-04:00,3128.280029,3149.969971,3121.659912,3130.020020,3130.020020,401784
2022-03-17 15:30:00-04:00,3130.850098,3147.546631,3128.385010,3147.389893,3147.389893,440397
2022-03-17 16:00:00-04:00,3144.780029,3144.780029,3144.780029,3144.780029,3144.780029,0

Lets get only the openings

In [ ]:

stock_opening = data.loc[data.index.hour == 9]

In [ ]:
stock_day = data.loc[data.index.hour!= 9]
min_and_max = stock_day.groupby(stock_day.index.date).agg({'High': ['max'], 'Low' : ['min']})

In [ ]:
y = stock_day.groupby(stock_day.index.date).agg({'High': ['max'], 'Low': ['min']})
feature_columns = ['Open', 'High','Low', 'Close' ,'Adj Close', 'Volume']
X = stock_opening[feature_columns]
y.tail()

                   High          Low
                    max          min
2022-03-11  2972.445068  2907.379883
2022-03-14  2924.000000  2817.679932
2022-03-15  2959.699951  2906.770020
2022-03-16  3063.000000  2947.070068
2022-03-17  3149.969971  3056.445312

In [ ]:
stock_model= DecisionTreeRegressor()
# Fit Model
stock_model.fit(X, y)

DecisionTreeRegressor()

In [ ]:
train_X, val_X, train_y, val_y = train_test_split(X,y, random_state = 0)

from sklearn.tree import DecisionTreeRegressor

stock_model = DecisionTreeRegressor(random_state=1)

# Fit iowa_model with the training data.
stock_model.fit(train_X, train_y)

DecisionTreeRegressor(random_state=1)

In [ ]:
val_predictions = stock_model.predict(val_X)

In [ ]:
print(val_predictions[:5])
# print the top few actual prices from validation data
print(val_y.head())
print(val_X.head())

[[3060.85009766 2973.18017578]
 [3202.43994141 3175.77001953]
 [3279.80004883 3212.97509766]
 [3759.9855957  3637.65991211]
 [3256.12011719 3236.17993164]]
                   High          Low
                    max          min
2020-07-28  3059.699951  2995.760010
2020-08-06  3247.469971  3182.010010
2022-02-07  3246.870117  3145.000000
2021-07-26  3708.489990  3683.669922
2021-10-12  3261.080078  3236.280029
                                  Open         High          Low        Close  \
2020-07-28 09:30:00-04:00  3054.270020  3077.092529  3033.625000  3056.310059
2020-08-06 09:30:00-04:00  3200.500000  3205.000000  3165.429932  3197.399902
2022-02-07 09:30:00-05:00  3170.399902  3253.814941  3150.000000  3240.989990
2021-07-26 09:30:00-04:00  3673.169922  3712.080078  3650.000000  3695.385010
2021-10-12 09:30:00-04:00  3257.000000  3265.449951  3240.000000  3252.620117

                             Adj Close   Volume
2020-07-28 09:30:00-04:00  3056.310059   933553
2020-08-06 09:30:00-04:00  3197.399902  1060174
2022-02-07 09:30:00-05:00  3240.989990  1847224
2021-07-26 09:30:00-04:00  3695.385010   850608
2021-10-12 09:30:00-04:00  3252.620117   430105

In [ ]:
from sklearn.metrics import mean_absolute_error
val_mae = mean_absolute_error(val_y, val_predictions)

In [ ]:
val_y['High'].to_numpy()

AttributeError: ignored

In [ ]:
val_mae

27.088164798797123

In [ ]:
def day_trading(closed_at, pred_high, pred_low, real_high, real_low):
  for i in range(len(closed_at)):
    if closed_at[i] - pred_high[i] < pred_low[i] - closed_at[i]  and pred_low[i] < closed_at[i]:
      #print(real_low[i])
      if pred_low[i] > real_low[i]:
        winning_procent = (1 - pred_low[i] /closed_at[i])*100 
        print("you went short at {} and sould at {} with a win of {} procent".format(closed_at[i], pred_low[i], winning_procent))
      else: print('still invested in short')
    else:
      #print(real_low[i])
      if pred_low[i] > real_low[i]:
        winning_procent = ((pred_high[i] /closed_at[i]) -1)*100
        print("you investeted long at {} and sould at {} with a win of {} procent".format(closed_at[i], pred_low[i], winning_procent))
      else: print('still invested in long')

In [ ]:
day_trading(val_X['Close'],val_predictions[:,0],val_predictions[:,1] ,val_y['High'].to_numpy(), val_y['Low'].to_numpy())

still invested in long
still invested in long
you went short at 3240.989990234375 and sould at 3212.97509765625 with a win of 0.8643930608406181 procent
still invested in short
still invested in long
still invested in long
still invested in long
you investeted long at 3592.81005859375 and sould at 3560.0 with a win of 0.5797644084899911 procent
still invested in short
you went short at 3248.409912109375 and sould at 3237.0 with a win of 0.3512460686331931 procent
still invested in long
still invested in short
still invested in short
still invested in long
still invested in short
you investeted long at 3260.070068359375 and sould at 3261.090087890625 with a win of 0.8683805519361654 procent
you investeted long at 2882.639892578125 and sould at 2906.77001953125 with a win of 2.6732461030652743 procent
you went short at 3200.419921875 and sould at 3198.764892578125 with a win of 0.05171287947443037 procent
still invested in long
you went short at 2402.6298828125 and sould at 2391.2099609375 with a win of 0.4753092416228455 procent
you investeted long at 3171.89990234375 and sould at 3146.89013671875 with a win of -0.15447846699478962 procent
you went short at 3331.969970703125 and sould at 3303.89990234375 with a win of 0.8424466188526769 procent
still invested in long
you went short at 3295.330078125 and sould at 3289.0703125 with a win of 0.189958683245528 procent
you went short at 2453.89990234375 and sould at 2445.31005859375 with a win of 0.3500486609822939 procent
still invested in long
you investeted long at 2418.830078125 and sould at 2397.02001953125 with a win of 0.7499448903904193 procent
you investeted long at 3466.72998046875 and sould at 3439.0 with a win of 0.1405308806662786 procent
still invested in long
you investeted long at 3145.989990234375 and sould at 3054.675048828125 with a win of 0.12746416161757423 procent
still invested in long
you went short at 3217.0 and sould at 3211.1298828125 with a win of 0.18247178077401838 procent
still invested in long
you investeted long at 2913.7548828125 and sould at 2871.10205078125 with a win of 0.7977718827557156 procent
still invested in long
you went short at 3297.02001953125 and sould at 3292.860107421875 with a win of 0.1261718789916988 procent
you went short at 3413.989990234375 and sould at 3403.97998046875 with a win of 0.29320559797358925 procent
you investeted long at 3380.97998046875 and sould at 3363.110107421875 with a win of 0.2593928263968648 procent
you went short at 3423.0 and sould at 3403.97998046875 with a win of 0.555653506609699 procent
you went short at 3207.889892578125 and sould at 3186.0 with a win of 0.682376680969321 procent
you investeted long at 3504.1005859375 and sould at 3467.469970703125 with a win of 0.5629913502567696 procent
you went short at 2445.409912109375 and sould at 2445.31005859375 with a win of 0.004083303790114456 procent
still invested in long
still invested in short
you went short at 3051.679931640625 and sould at 3032.429931640625 with a win of 0.6308000980185025 procent
you went short at 1915.661865234375 and sould at 1902.219970703125 with a win of 0.7016840902455135 procent
still invested in short
still invested in long
still invested in long
you investeted long at 3214.0400390625 and sould at 3197.210205078125 with a win of 0.4611040366409913 procent
still invested in long
still invested in long
you went short at 3389.041748046875 and sould at 3387.6982421875 with a win of 0.03964264707418952 procent
you investeted long at 3471.340087890625 and sould at 3434.875 with a win of 0.7860051570445448 procent
still invested in short
still invested in long
still invested in short
you went short at 3101.050048828125 and sould at 3095.169921875 with a win of 0.18961728642035158 procent
still invested in long
you investeted long at 3471.989990234375 and sould at 3450.400634765625 with a win of 0.5152633685132635 procent
still invested in long
still invested in long
still invested in long
you investeted long at 3566.559326171875 and sould at 3527.7099609375 with a win of 0.6558316534469588 procent
still invested in long
still invested in long
you went short at 1916.949951171875 and sould at 1902.219970703125 with a win of 0.7684071490622446 procent
still invested in short
still invested in long
still invested in long
still invested in long
you investeted long at 2694.969970703125 and sould at 2726.010009765625 with a win of 2.2731240211052217 procent
you went short at 3622.489990234375 and sould at 3607.645263671875 with a win of 0.4097934460141728 procent
still invested in long
still invested in long
still invested in long
you investeted long at 3036.489990234375 and sould at 3037.0 with a win of 2.8305692246079373 procent
you investeted long at 3118.820068359375 and sould at 3100.0 with a win of 0.5039888648543878 procent
still invested in long
still invested in short
still invested in long
still invested in short
you investeted long at 3362.925048828125 and sould at 3367.090087890625 with a win of 1.304667792560199 procent
you went short at 3490.294921875 and sould at 3478.090087890625 with a win of 0.3496791605741567 procent
still invested in short
still invested in long
you went short at 3613.0 and sould at 3586.14990234375 with a win of 0.7431524399737044 procent
still invested in long
still invested in short
still invested in long
still invested in long
you went short at 3409.8798828125 and sould at 3387.10009765625 with a win of 0.6680524223469431 procent
still invested in long
still invested in long
still invested in short
still invested in long
still invested in long
still invested in short
still invested in long
you investeted long at 2891.35009765625 and sould at 2905.199951171875 with a win of 2.840714786915788 procent
still invested in long
still invested in long
you investeted long at 2708.02001953125 and sould at 2726.010009765625 with a win of 1.780266046402601 procent
still invested in long
still invested in long
still invested in long
you investeted long at 3426.919921875 and sould at 3403.97998046875 with a win of 0.4843316047174806 procent
you investeted long at 3020.320068359375 and sould at 2996.77001953125 with a win of 0.6237455270215131 procent
still invested in long
you went short at 3195.14501953125 and sould at 3190.0 with a win of 0.16102616625535138 procent
you went short at 3269.43994140625 and sould at 3261.090087890625 with a win of 0.25539094356428205 procent
still invested in long
you investeted long at 3191.73193359375 and sould at 3194.0 with a win of 1.731601135563432 procent
you investeted long at 1985.7249755859375 and sould at 2014.010009765625 with a win of 2.9216037145989304 procent
still invested in long
still invested in long
you investeted long at 3534.320068359375 and sould at 3499.159912109375 with a win of 0.44958838675583923 procent
still invested in short
you went short at 3295.56005859375 and sould at 3292.860107421875 with a win of 0.08192692968329585 procent
you investeted long at 3141.93994140625 and sould at 3092.75 with a win of -0.3271873265748626 procent
still invested in long
still invested in long
still invested in long
you went short at 3319.139892578125 and sould at 3317.0400390625 with a win of 0.06326498983427742 procent
you investeted long at 3438.77001953125 and sould at 3409.420654296875 with a win of 0.20992954165655053 procent
still invested in long